<a href="https://colab.research.google.com/github/CarolineJoi3375/RTA/blob/main/Appendix_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

df = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/LeedsRTA.xlsx')
df.head()

,Reference Number,Easting,Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty,Type of Vehicle
0,3309,429093,436258,1,2009-01-01,55,6,1.0,4,1,3,3,1,44.0,9
1,2609,434723,435534,1,2009-01-02,2335,6,1.0,4,1,1,2,2,23.0,9
2,2809,441173,433047,1,2009-01-02,1645,6,1.0,4,1,3,3,2,12.0,9
3,3809,428487,431364,1,2009-01-02,1723,3,1.0,4,1,3,3,1,15.0,9
4,3909,425928,435480,2,2009-01-02,1350,6,1.0,1,1,1,3,2,34.0,9

In [ ]:
df.isna().any()

Reference Number       False
Easting                False
Northing               False
Number of Vehicles     False
Accident Date          False
Time (24hr)            False
1st Road Class         False
Road Surface            True
Lighting Conditions    False
Weather Conditions     False
Casualty Class         False
Casualty Severity      False
Sex of Casualty        False
Age of Casualty         True
Type of Vehicle        False
dtype: bool

In [ ]:
df.isna().sum()

Reference Number       0
Easting                0
Northing               0
Number of Vehicles     0
Accident Date          0
Time (24hr)            0
1st Road Class         0
Road Surface           1
Lighting Conditions    0
Weather Conditions     0
Casualty Class         0
Casualty Severity      0
Sex of Casualty        0
Age of Casualty        3
Type of Vehicle        0
dtype: int64

In [ ]:
df_cleaned = df.dropna()

In [ ]:
df_cleaned.isna().any()

Reference Number       False
Easting                False
Northing               False
Number of Vehicles     False
Accident Date          False
Time (24hr)            False
1st Road Class         False
Road Surface           False
Lighting Conditions    False
Weather Conditions     False
Casualty Class         False
Casualty Severity      False
Sex of Casualty        False
Age of Casualty        False
Type of Vehicle        False
dtype: bool

In [ ]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27536 entries, 0 to 27539
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     27536 non-null  object
 1   Easting              27536 non-null  int64
 2   Northing             27536 non-null  int64
 3   Number of Vehicles   27536 non-null  int64
 4   Accident Date        27536 non-null  datetime64[ns]
 5   Time (24hr)          27536 non-null  int64
 6   1st Road Class       27536 non-null  int64
 7   Road Surface         27536 non-null  float64
 8   Lighting Conditions  27536 non-null  int64
 9   Weather Conditions   27536 non-null  int64
 10  Casualty Class       27536 non-null  int64
 11  Casualty Severity    27536 non-null  int64
 12  Sex of Casualty      27536 non-null  int64
 13  Age of Casualty      27536 non-null  float64
 14  Type of Vehicle      27536 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(1)
memory usage: 3.4+ MB

In [ ]:
df_cleaned.rename(columns=lambda x:x.replace(' ','_').lower(), inplace=True)

<ipython-input-8-2d3e02a08381>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns=lambda x:x.replace(' ','_').lower(), inplace=True)

In [ ]:
df_cleaned.columns

Index(['reference_number', 'easting', 'northing', 'number_of_vehicles',
       'accident_date', 'time_(24hr)', '1st_road_class', 'road_surface',
       'lighting_conditions', 'weather_conditions', 'casualty_class',
       'casualty_severity', 'sex_of_casualty', 'age_of_casualty',
       'type_of_vehicle'],
      dtype='object')

In [ ]:
df_cleaned.head()

,reference_number,easting,northing,number_of_vehicles,accident_date,time_(24hr),1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle
0,3309,429093,436258,1,2009-01-01,55,6,1.0,4,1,3,3,1,44.0,9
1,2609,434723,435534,1,2009-01-02,2335,6,1.0,4,1,1,2,2,23.0,9
2,2809,441173,433047,1,2009-01-02,1645,6,1.0,4,1,3,3,2,12.0,9
3,3809,428487,431364,1,2009-01-02,1723,3,1.0,4,1,3,3,1,15.0,9
4,3909,425928,435480,2,2009-01-02,1350,6,1.0,1,1,1,3,2,34.0,9

In [ ]:
df_cleaned['year'] = df_cleaned['accident_date'].dt.year
df_cleaned['month'] = df_cleaned['accident_date'].dt.month
df_cleaned['day'] = df_cleaned['accident_date'].dt.day
df_cleaned.head()

<ipython-input-10-b6ab166bf390>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['year'] = df_cleaned['accident_date'].dt.year
<ipython-input-10-b6ab166bf390>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['month'] = df_cleaned['accident_date'].dt.month
<ipython-input-10-b6ab166bf390>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['day'] = df_cleaned['accident_date'].dt.day

,reference_number,easting,northing,number_of_vehicles,accident_date,time_(24hr),1st_road_class,road_surface,lighting_conditions,weather_conditions,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,type_of_vehicle,year,month,day
0,3309,429093,436258,1,2009-01-01,55,6,1.0,4,1,3,3,1,44.0,9,2009,1,1
1,2609,434723,435534,1,2009-01-02,2335,6,1.0,4,1,1,2,2,23.0,9,2009,1,2
2,2809,441173,433047,1,2009-01-02,1645,6,1.0,4,1,3,3,2,12.0,9,2009,1,2
3,3809,428487,431364,1,2009-01-02,1723,3,1.0,4,1,3,3,1,15.0,9,2009,1,2
4,3909,425928,435480,2,2009-01-02,1350,6,1.0,1,1,1,3,2,34.0,9,2009,1,2

In [ ]:
df_cleaned.to_excel('RTA_Final.xlsx', sheet_name='sheet1', index=False)