<a href="https://colab.research.google.com/github/CarolineJoi3375/RTA/blob/main/Sample1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
#indent to indicate block of code
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
#assigning variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#getting the type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [ ]:
#acceptable variable naming
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [ ]:
#can be list
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output multiple variables
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
#can use + in output
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
#if not same data type
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
#using a function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
#variable inside a function
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#using global scope
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#using global inside a function
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#get character at position 1
a = "Hello, World!"
print(a[1])

e

In [ ]:
#loop through the letters
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#get first character of string
txt = "Hello World"
x = txt[0]
print(x)

H

In [ ]:
#get from index 2 to 5 - slicing
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [ ]:
#get character  from start to position 5 (but not included)
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
#Get the characters from position 2, and all the way to the end
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
#Get the characters:
#From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
#return string without white spaces
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [ ]:
#upper case
txt = "Hello World"
x = txt.upper()
print(x)

HELLO WORLD

In [ ]:
#lower case
txt = "Hello World"
x = txt.lower()
print(x)

hello world

In [ ]:
#replace H with a J
txt = "Hello World"
x = txt.replace('H','J')
print(x)

Jello World

In [ ]:
#split string
#The split() method splits the string into substrings if it finds instances of the separator
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
#Merge variable a with variable b into variable c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
#To add a space between them, add a " "
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#adding placeholder
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {2} pieces of item {0} for {1} dollars."
print(myorder.format(quantity, itemno, price))

I want 49.95 pieces of item 3 for 567 dollars.

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#data type String
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [ ]:
#data type Integer
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [ ]:
#data type Float
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [ ]:
#data type Complex
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [ ]:
#data type List
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
#data type Tuple
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
#data type Range
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
#data type Dict
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
#data type Set
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [ ]:
#data type frozenSet
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [ ]:
#data type bool
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [ ]:
#data type bytes
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [ ]:
#data type bytearray
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
#data type memoryview
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x79261eb2e440>
<class 'memoryview'>

In [ ]:
#data type Nonetype
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [ ]:
#convert types
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#random module
import random

print(random.randrange(1, 10))

9

In [ ]:
#multiline string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua 1st."""
print(a)

b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua 2nd.'''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua 1st.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua 2nd.

In [ ]:
#loop through
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#length of words
a = "Hello, World!"
print(len(a))

13

In [ ]:
#check if free is present
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
#print only if free is present
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
#if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
#print if NOT
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
#get the mean
import numpy

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = numpy.mean(speed)

print(x)

89.76923076923077

In [ ]:
#get the median
import numpy

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = numpy.median(speed)

print(x)

87.0

In [ ]:
#another example median
import numpy

speed = [99,86,87,88,86,103,87,94,78,77,85,86]

x = numpy.median(speed)

print(x)

86.5

In [ ]:
#get the mode
from scipy import stats

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = stats.mode(speed)

print(x)

ModeResult(mode=86, count=3)

In [ ]:
#get the standard deviation
import numpy

speed = [86,87,88,86,87,85,86]

x = numpy.std(speed)

print(x)

0.9035079029052513

In [ ]:
#another standard deviation
import numpy

speed = [32,111,138,28,59,77,97]

x = numpy.std(speed)

print(x)

37.84501153334721

In [ ]:
#get the variance
import numpy

speed = [32,111,138,28,59,77,97]

x = numpy.var(speed)

print(x)

1432.2448979591834

In [ ]:
#get the percentile
import numpy

ages = [5,31,43,48,50,41,7,11,15,39,80,82,32,2,8,6,25,36,27,61,31]

#get the 75% percentile of the people
x = numpy.percentile(ages, 75)

#75% are 43 or younger
print(x)

43.0